<div class="row">
  <div class="col">
      <div class="card">
          <h5 class="card-header">Editing Mode</h5>
          <div class="card-body">
            <h5 class="card-title">{{fruitName.value}}</h5>
            <!-- <p class="card-text"></p> -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="onSave()"
                  >Save</button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="editing"
                  [value]="fruitName.value">
              </div>
          </div>
        </div>
  </div>
</div>
