<form #signUpForm="ngForm" (ngSubmit)="onSingUp()" class="needs-validation">
  <div class="group-wrapper" ngModelGroup="userInformation">
    <div class="form-group">
      <label for="userNameInput">User Name</label>
      <input
        type="userName"
        class="form-control"
        id="userNameInput"
        aria-describedby="userNameHelp"
        placeholder="Enter user name"
        name="userName"
        ngModel
        required
      >
      <small
        id="userName"
        class="form-text text-muted"
        [hidden]="!signUpForm.touched && !signUpForm.submitted"
      >We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="email"
        ngModel
        required
        email
        #emailInput="ngModel"
        [ngClass]="{'bg-success text-white': emailInput.valid}"
      >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      name="password"
      [(ngModel)]="userPassword"
      required
    >
    <small class="form-text text-muted" [hidden]="!checkBox.value">Password: {{userPassword}}</small>
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
      name="showPassword"
      ngModel
      #checkBox="ngModel"
    >
    <label class="form-check-label" for="exampleCheck1">Show Password</label>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!signUpForm.valid"
  >Submit</button>
  <button
    type="button"
    class="btn btn-dark"
    (click)="changeForm()"
  >Set From</button>
  
  <button
    type="button"
    class="btn btn-warning"
    (click)="enterName()"
  >Enter Name</button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="signUpForm.reset()"
  >Reset Form</button>  
</form>
