<p>Enter your fruit name</p>
<input type="text" (input)="onInputChange($event)" [value]="fruitName"/>

<!-- <p [ngStyle]="{backgroundColor: 'yellow'}">
  {{ fruitName }}
</p> -->

<!-- <p [ngClass]="['yellow', 'pink-text']">
  {{ fruitName }}
</p> -->

<!-- <p [ngClass]="{'yellow': fruitName === 'banana'}">
    {{ fruitName }}
</p> -->

<ul>
  <li
    *ngFor="let eachFruit of listOfFruits"
    [ngClass]="eachFruit"
    >
    <app-fruit [fruitName]="eachFruit" (removeMe)="removeFruit($event)"></app-fruit>
  </li>
</ul>


<button
  class="btn btn-primary"
  (click)="onAddingFruit()"
  [disabled]="isButtonDisabled">
    Add Fruit
</button>

<app-banana *ngIf="showChildComponent"></app-banana>
