<div class="row">
  <div class="col">
    <h2>Today's Date: {{todaysDate | date: 'fullDate' | uppercase}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/sign-up"
              routerLinkActive="active">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              routerLink="/add"
              routerLinkActive="active">Add Fruit</a>
          </li>
          <li class="nav-item">
            <a
            class="nav-link"
              [routerLink]="routingToTheFruitToEdit"
              routerLinkActive="active"
              >Edit Fruit</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/favorites"
              routerLinkActive="active"
              >Favorites</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-4 align-self-start">
    <app-cart></app-cart>
  </div>
</div>
