<form [formGroup]="favoritesForm" (ngSubmit)="onSubmit()">
  <div formGroupName="personsInfo">
    <div class="form-group">
      <label for="exampleInputPassword1"
        appColorChanger
        appBackgroundColorChanger
        [defaultColor]="'pink'"
        [hoverColor]="'lightblue'"
      >Name</label>
      <input formControlName="personName"
        type="input" class="form-control" id="exampleInputPassword1" placeholder="Name">
        <small
        *ngIf="
          favoritesForm.get('personsInfo.personName').errors &&
          favoritesForm.get('personsInfo.personName').errors['nameRestricted'] &&
          favoritesForm.get('personsInfo.personName').dirty"
        id="emailHelp"
        class="form-text text-muted"
      >Name is not allowed</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"
        appBackgroundColorChanger
      >Email address</label>
      <input formControlName="personEmail"
        type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <!-- <small
        *ngIf="favoritesForm.get('personsInfo.personEmail').valid && favoritesForm.get('personsInfo.personEmail').dirty"
        id="emailHelp"
        class="form-text text-muted"
      >We'll never share your email with anyone else.</small> -->
      <small
        *appUnless="favoritesForm.get('personsInfo.personEmail').invalid && favoritesForm.get('personsInfo.personEmail').pristine"
        id="emailHelp"
        class="form-text text-muted"
      >We'll never share your email with anyone else.</small>



      <!-- <small
        *ngIf="
          favoritesForm.get('personsInfo.personEmail').errors &&
          favoritesForm.get('personsInfo.personEmail').errors['emailRestricted']"
        id="emailHelp"
        class="form-text text-muted"
      >This email is restricted. Try another one</small> -->
      <ng-template [ngIf]="
        favoritesForm.get('personsInfo.personEmail').errors &&
        favoritesForm.get('personsInfo.personEmail').errors['emailRestricted']">
        <small
        id="emailHelp"
        class="form-text text-muted"
      >This email is restricted. Try another one</small>
      </ng-template>
    </div>
  </div>
  <div class="form-check" *ngFor="let gender of genders">
    <label class="form-check-label" appTextColorChanger>
      <input formControlName="personGender"
        type="radio" class="form-check-input" name="personGender" [value]="gender">
      {{gender}}
    </label>
  </div>
  <div formArrayName="fruitNames">
      <div class="form-group" *ngFor="let fruitControl of favoritesForm.get('fruitNames')['controls']; let fruitIndex = index">
          <label for=""></label>
          <input type="text" [formControlName]="fruitIndex"
            class="form-control" aria-describedby="helpId" placeholder="Enter Fruit Name"
          >
          <small class="form-text text-muted">Help text</small>
        </div>
  </div>
  <span *ngIf="favoritesForm.invalid && favoritesForm.dirty" class="form-text text-muted">
    <small>Please enter required inputs</small>
  </span>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="onAddFruit()"
  >Add Fruit
  </button>
  <button type="submit" class="btn btn-primary">Send Email</button>
</form>
